@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<h1>Welcome Back!</h1>
<h3>Choose your role</h3>
<a class="btn btn-primary" asp-controller="Author" asp-action="Login">Author</a>
<a class="btn btn-primary" asp-controller="User" asp-action="Login">User</a>